 * {
     margin: 0;
 }

 * {
     box-sizing: border-box;
 }

 header {
     height: 10vh;
     background-color: #acd373;
     display: inline-block;
     width: 100%; 
 }
#desklogo {display: none;}

 img.logo {
     height: 9vh;
     padding-top: 1.5vh;
     padding-left: 5vw;
 }

 nav.nav {
     height: 10vh;
     width: 10vh;
     background-color: #89a85c;
     display: inline-block;
     position: absolute;
     top: 0;
     right: 0;
     cursor: pointer;
 }

 .fa {
     font-size: 5vh;
     margin-top: 2.5vh;
     margin-left: 3vh;
 }

 div.body {
     min-height: 90vh;
     background-color: #9abd67;
 }

 h2 {
     text-align: center;
     margin-top: 25vh;
     font-family: 'Source Sans Pro', sans-serif;
     font-size: 7vmin;
     font-weight: bold;
 }

 p {
     text-align: center;
     margin-top: inherit;
     font-family: 'Droid Serif', serif;
     font-size: 3.5vmin;
     font-style: italic;
 }

 p,
 h2 {
     color: white;
 }

 #icon1 {
     font-size: 10vh;
     color: white;
     text-align: center;
     display: inline-block;
     width: 100%;
     margin-top: 5vh;
     margin-left: 0vh;
 }

 #icon2 {
     width: 100%;
     position: fixed;
     bottom: 0;
     left: 0;
 }
#icon2desktop {
    display: none;
}
#desktopdown {
    display: none;
}
.navbar {
    display: none;
}


@media all and (min-width: 1000px) {
    #icon2 {
        display: none;
    }
    #icon2desktop {   
        display: block;
        width:100%;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    #icon1 {
        display: none;
    }
    #desktopdown {
        display: inline-block;
        margin:auto;
        text-align: center;
        font-size: 14vh;
        width: 100%;
        color: white;
        margin-top: 5vh;
    }
    nav.nav {
        display: none;
        
    }
    .navbar {
        display: inline-block;
        float:right;
        padding:1vh;
        margin-right: 2vw;
        line-height: 7vh;
        color: white;
        
    }
    container {
        margin-right:12vh
    }
    
    
        
    
}