* {
	margin: 0;
	box-sizing: border-box;
	vertical-align: top;
}
.desktopnav{
	display: none;
}
.desktopMunu {
	text-decoration: none;
	color: red;
	margin-right: 4vw;

}
.headtitle {
	display: inline-block;
	width: 100%;
	height: 10vh;
	background-color: rgb(150,108,172);
}
h1 {
	margin-top: 2.5vh;
	display: inline-block;
	font-size: 4vh;
	color: black;
}
h2 {
	color: rgb(171,41,54);
	text-align: center;
	font-size: 3vh;
}
.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	width: 10vh;
	height: 10vh;
	background-color: rgb(93,115,149);/*Main color theme rgb(93,115,149)*/ 
	cursor: pointer;

}
.middle {
	display: flex;
	justify-content: center space-around;
	align-items: center;
	background-image: url(../images/craterLake/crater-lake-1.jpg);
	background-repeat: no-repeat;
	background-size: cover, contain;
	height: 100vh;
	width: 100%;

}
#me {
	height: 50vh;
}

#mobileMenu {
	position: absolute;
	right: -100%;
    width: 100%;
    height:100vh;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}
.mainMenu {
	display: block;
    height: 25%;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height:25vh;
}
@media all and (min-width: 1000px){
	.nav {
		display: none;
	}
	.desktopnav {
		margin-top: 2.5vh;
		display: block;
		float: right;

	}
}